User Name: <input type="text" [(ngModel)]="userName">
<button (click)="search()">Search</button>
<div *ngIf="response">
  <img src="{{response.avatar_url}}" alt="">
  <p>Login: {{response.login}}</p>
  <p>Repos: {{response.public_repos}}</p>
</div>
